@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial;
}
body{
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card{
  width: 350px;
  height: 500px;
  border-radius: 10px;
  position: relative;
}
.card img{
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transform: scale(1.1);
  transition: all 0.5s;
  z-index: 0;
}
.content{
  background-color: greenyellow;
  position: absolute;
  bottom: 0;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
  transition: all 0.5s;
}
.content:after,.content:before{
  content: "";
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: black;
  z-index: 2;
}
.content:after{
  top: -33%;
  clip-path: ellipse(60% 80px at bottom center);
}
.content:before{
  bottom: -33%;
}